* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.container {
    background: whitesmoke;
    position: relative;
    overflow: hiden;
    padding: 115px 0 px;
    box-sizing: border-box;
    min-height:  100vh;
    display: flex;
    justify-content: center;
}
.container-content {
    margin: 30px;
    position: relative;
    background: #c0eaff;
    box-shadow: 0px  4px 74px rgba(69,69,69, 0.09);
    border-radius: 30px;
}
.link, .mail, .phone, .telegram, .eye {
    width: 25px;
    height: 25px;
}
aside {
    width: 370px;
    margin-right: 30px;
}
.person {
    background: white;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 389px;
}
.person-image {
    border-radius: 20px;
    position: absolute;
    top:  -15px; 
}
.person-header {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 24px;
}
.person-header span {
    font-size: inherit;
    font-weight: 700;
}
.person-label {
    font-weight: 500;
    background: #c0eaff;
    border-radius: 75px;
    padding: 4px 24px 4px 24px;
}
.person-social {
    padding-bottom: 25px;
    padding-top: 29px;
}
.person-social a {
    margin: 0 15px;
}
.about {
    padding: 40px 50px 26px;
}
.about-header {
    font-size: 25px;
    font-weight: 700;
    color: #01b7ff;
    margin: 15px 0 15px 0;
}
.about-contact-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about-contact-link:last-child {
    margin-bottom: 50px;
}
.about-contact-link a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin-left: 16px;
   margin-bottom: px;
}
.about-contact-link a:hover {
    text-decoration: underline;
}
.about-skills-list {
    margin-bottom: 50px;
    margin-left: 20px;
}
.about-skills-list-item {
    font-weight: 500;
    margin-bottom: 15px;
}
.button {
    background: #01b7ff;
    box-shadow: 0px 4px  15px  rgba(14, 116, 156, 0.29);
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0px;
    text-decoration: none;
}
.button:hover {
    background: #0893ca;
}
.button-text {
    color: #F5F7F8;
    font-weight: 500;
    padding-left: 10px;
}
main {
    width: 770px;  
}
.profile {
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    padding: 29px 40px 30px;
}
.profile-header {
    font-weight: 700;
    font-size: 30px;
}
.profile-header:after { 
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background:#01b7ff;
    border-radius: 47px;
}
.profile-text {
    line-height: 31px;
    text-align: justify;
    margin-top: 16px;
}
.experience {
    padding: 45px 40px 40px;
}
.experience-header {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.experience-list {
    list-style: none;
}
.experience-list-item {
    margin-bottom: 40px;
}
.experience-header {
    font-weight: bold;
    margin-bottom: 40px;
}
.experience-text {
    line-height: 2;
}
.experience-text:last-child {
    font-weight: 400;
    margin-top: 20px;
    
}
.experience-text + p {
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.5;
}
.experience-date {
    margin: 30px 0px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.experience-study {
    margin-top: 30px;
}
/* .image-left, .image-right{
    position: absolute; 
    width: -100px;
    height: -50px;
    
}
.image-left{
    bottom: -35px;
    left: -125px;
}
.image-right{
    top: -20px;
    right: -90px;
} */
